<!DOCTYPE html>
<html>
<head>
	<title>depressed</title>
	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'file_css/style_last_page_buy1.css'%}">
	<link rel="stylesheet" href="{% static 'file_css/style_header.css' %}">
	<script type="text/javascript" src="{% static 'file_javascript/jquery.js'%}"></script>
</head>
<body>
	{% include "header_block.html" %}
	<div id="global" style="font-family: Play;">
		<h1>Заказ принят</h1>
		<h4>ожидайте звонка для потверждения заказа.</h4>
		<h5><a href="http://127.0.0.1:8000">Вернутся на страницу покупки</a></h5>

	</div>
</body>
</html>